/* JSAM Codes */

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: sans-serif; 
}
#header{
    top: 0;
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: #fff;
}
#navigator{
    width: 100%;
    height: 60px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 5px 5px 10px 7px rgba(0, 0, 0, 0.1);
}
#navigator img{
    width: 100px;
    margin-right: 5px;
    margin-left: 10px;
    cursor: pointer;
}
ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li a{
    color: black;
    text-decoration: none;
    padding: 21px;
    font-size: 15px;  
}
ul li a:hover{
    color: rgb(38, 99, 255);
}
.free{
    display: flex;
    justify-content: center;
}
.free a{
    color: black;
    text-decoration: none;
    background-color: #fff;
    padding: 19px;
    font-size: 19px;
}
.free .log{
    color: #fff;
    background-color: rgb(38, 99, 255);
}
.free .log:hover{
    background-color: rgba(2, 53, 180, 0.9);;
}


#first{
    width: 100%;
    background-color: #cb41be;
    background-image: linear-gradient(to right, rgba(88, 73, 174, 0.8), #cb41be 65%);
}
#tsri{
    width: 1050px;
    display: flex;
    margin: 0 auto;
    color: #fff;
}
.keep{
    margin-top: 160px;
    width: 500px;
}
.keep h1{
    font-size: 45px;
    margin-bottom: 15px;
}
.keep h3{
    margin-bottom: 25px;
}
#vid{
    margin-bottom: 30px;
}
#vid input{
    padding: 10px 15px;
    background-color: #fff;
    border: 2px solid #fff;
    width: 260px;
    border-radius: 7px;
}
#vid button{
    padding: 14px;
    margin-left: 5px;
    color: #fff;
    border: none;
    background-color: rgb(38, 99, 255);
    border-radius: 7px;
}
#vid button:hover{
    cursor: pointer;
    background-color: rgba(2, 53, 180, 0.9);
}
.keep a{
    color: white;
    font-size: 14px;
    transition: 0.3s;
}
.keep a:hover{
    font-weight: bold;
}
.collage{
    padding: 0px;
    margin: 0px;
    margin-top: 160px;
}
.collage img{
    padding: 0;
    width: 550px;
}


#second{
    width: 1050px;
    margin: 0 auto;
}
#second h4{
    margin-bottom: 20px;
    padding-top: 50px;
}
#second h1{
    margin-bottom: 25px;
}
#second p{
    width: 540px;
    font-size: 19px;
    line-height: 25px;
}
#second a{
    color: rgb(93, 70, 223);
}
#second a:hover{
    color: rgb(73, 60, 162);
}

#third{
    width: 100%;
    background-image: linear-gradient(to top, rgba(105, 213, 255, 0.2), rgba(105, 213, 255, 0.1));
}
#dirh{
    width: 1050px;
    margin: 0 auto;
    display: flex;
    margin-top: 50px;
    padding-bottom: 50px;
}
.board{
    width: 350px;
    padding: 10px;
}
.board p{
    margin: 20px 0px;
    line-height: 23px;
}
#dirh img{
    padding: 10px;
    width: 700px;
}


#forth{
    margin-top: 70px;
}
#htro{
    width: 1050px;
    margin: 0 auto;
    margin-bottom: 60px;
}
#htro h1{
    font-size: 35px;
}
#htro h4{
    margin-bottom: 20px;
}
#project{
    width: 1050px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
#project div{
    width: 300px;
    padding: 40px 20px;
    padding-bottom: 20px;
    line-height: 25px;
    border-top: 50px solid black;
    background-color: white;
    box-shadow: 5px 5px 10px 7px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
#project div:hover{
    box-shadow: 5px 5px 10px 7px rgba(0, 0, 0, 0.3);
}
#project .task{
    border-top: 50px solid #de6325;
    border-radius: 8px;
}
#project .team{
    border-top: 50px solid #4375ff;
    border-radius: 8px;
}
#project .company{
    border-top: 50px solid #4ae7c2;
    border-radius: 8px;
}
#explore{
    margin: 60px auto;
    width: 1050px;
    display: flex;
    justify-content: space-between;
}
#explore p{
    font-size: 19px;
    width: 700px;
    line-height: 25px;
}
#explore a{
    color: black;
    text-decoration: none;
    padding: 15px 10px 10px 10px;
    border: 1px solid blue;
    border-radius: 7px;
    transition: 0.4s;
}
#explore a:hover{
    background-color: rgb(0, 72, 255, 0.1);
}


#fifth{
    width: 100%;
    height: 870px;
    background-image: linear-gradient(to right, rgb(16, 156, 255), rgba(16, 156, 255, 0.6));
}
#htfif{
    width: 1050px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 70px;
    color: white;
    padding-top: 50px;
}
#htfif h2{
    font-size: 40px;
    margin-bottom: 20px;
}
#htfif p{
    font-size: 20px;
    margin-bottom: 20px;
}
#htfif a{
    color: black;
    text-decoration: none;
    background-color: #fff;
    padding: 10px;
    border: 1px solid blue;
    border-radius: 7px;
    transition: 0.4s;
    margin-bottom: 50px;
}
#htfif a:hover{
    background-color: rgba(255, 255, 255,0.7);
}
#sprint{
    width: 1050px;
    margin: 0 auto;
    display: flex;
    background-color: #fff;
    border-radius: 14px;
    box-shadow: 5px 5px 10px 7px rgba(0, 0, 0, 0.1);
}
#sprint .track{
    width: 525px;
    padding: 60px;
    font-size: 19px;
}
#sprint .track p{
    line-height: 30px;
    width: 380px;
    margin: 10px 0;
}
#sprint img{
    width: 525px;
    padding: 30px;
}
#sprint a{
    color: rgb(93, 70, 223);
}
#sprint a:hover{
    color: rgb(73, 60, 162);
}

#vision{
    width: 1050px;
    margin: 0 auto;
    display: flex;
    margin-top: 60px;
    background-color: #fff;
    border-radius: 14px;
    box-shadow: 5px 5px 10px 7px rgba(0, 0, 0, 0.1);
}
#vision .view{
    width: 525px;
    padding: 60px;
    font-size: 19px;
}
#vision .view p{
    line-height: 30px;
    width: 380px;
    margin: 10px 0;
}
#vision img{
    width: 525px;
    padding: 30px;
}
#vision a{
    color: rgb(93, 70, 223);
}
#vision a:hover{
    color: rgb(73, 60, 162);
}


#sixth{
    width: 1050px;
    margin: 0 auto;
    margin-top: 220px;
    margin-bottom: 50px;
}
#sixth h4{
    margin-bottom: 20px;
}
#sixth h1{
    margin-bottom: 25px;
}
#sixth p{
    width: 540px;
    font-size: 19px;
    line-height: 25px;
}


#seventh{
    width: 1050px;
    margin: 0 auto;
    display: flex;
}
#seventh div{
    width: 300px;
    margin-right: 50px;
    background-color: rgb(250, 249, 249);
    padding: 20px;
    border-radius: 7px;
}
#seventh h2{
    margin: 20px 0;
}
#seventh p{
    line-height: 25px;
    margin-bottom: 30px;
}
#seventh .scale p{
    margin-bottom: 55px;
}
#seventh a{
    color: black;
    background-color: #fff;
    text-decoration: none;
    padding: 15px;
    border: 1px solid blue;
    border-radius: 7px;
    transition: 0.4s;
}
#seventh a:hover{
    background-color: rgb(0, 72, 255, 0.1);
}


#eight{
    width: 100%;
    background-image: linear-gradient(to top, rgb(255, 255, 255), rgb(98, 203, 255, 0.3), rgb(255, 255, 255));
}
#nineth{
    width: 1050px;
    margin: 0 auto;
    display: flex;
    margin-top: 125px;
    cursor: grab;
}
.chunk{
    width: 700px;
    padding: 30px;
    background-color: #fdfdfd;
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
}
.chunk .oll{
    font-size: 23px;
    line-height: 35px;
    letter-spacing: 1px;
    margin-bottom: 100px;
}
.chunk .joey{
    margin-bottom: 40px;
}
.chunk a{
    color: rgb(93, 70, 223);
    margin-left: 500px;
}
.chunk a:hover{
    color: rgb(73, 60, 162);
}
.survey{
    color: #fff;
    background-color: #cb41be;
    background-image: linear-gradient(to right, rgba(88, 73, 174, 0.8), #cb41be 65%);
    width: 350px;
    padding: 30px;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
}
.survey h1{
    font-size: 35px;
    line-height: 48px;
    margin-bottom: 30px;
}
.survey a{
    color: rgb(239, 239, 239);
}
.survey a:hover{
    color: #fff;
}


#tenth{
    width: 1050px;
    margin: 80px auto;
    text-align: center;
}
#tenth h1{
    font-size: 35px;
    margin-bottom: 15px;
}
#tenth h4{
    margin-bottom: 30px;
}
#tenth a{
    color: #fff;
    padding: 10px;
    text-decoration: none;
    background-color: rgb(38, 99, 255);
    border-radius: 7px;
}
#tenth a:hover{
    background-color: rgba(2, 53, 180, 0.9);
}

#eleven{
    width: 1050px;
    margin: 0 auto;
    display: flex;
}
#eleven div{
    width: 261px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #d2d2d2;
}
#eleven h4{
    margin-bottom: 30px;
}
#eleven .naps{
    margin-bottom: 10px;
}
#eleven .naps span{
    font-size: 40px;
    font-weight: bold;
}
#eleven .fee{
    font-size: 11px;
    margin-bottom: 30px;
}
#eleven .pan .fee{
    margin-bottom: 42px;
}
#eleven .standard{
    line-height: 25px;
    letter-spacing: 0.5px;
    margin-bottom: 80px;
}
#eleven .pan .standard{
    margin-bottom: 130px;
}
#twelve .standard{
    margin-bottom: 130px;
}
#enterprise .standard{
    margin-bottom: 105px;
}

#eleven .link a{
    padding: 15px;
    background-color: #fff;
    color: black;
    text-decoration: none;
    border: 1px solid rgb(0, 208, 255);
    border-radius: 7px;
    transition: 0.3s;
}
#eleven #premium{
    border: 2px solid rgb(0, 208, 255);
}
#eleven .link a:hover{
    background-color: rgb(98, 203, 255, 0.2);
}
#premium .link a{
    background-color: rgb(98, 203, 255, 0.2);
    transition: 0.3s;
}
#premium .link a:hover{
    background-color: #fff;
}
#eleven .link{
    margin-bottom: 40px;
}
#eleven .kinl{
    color: rgb(93, 70, 223);
}
#eleven .kinl:hover{
    color: rgb(73, 60, 162)
}

#ogbon{
    width: 1050px;
    margin: 100px auto;
    text-align: center;
}
#ogbon p{
    font-size: 22px;
    margin-bottom: 10px;
}


#ogota{
    width: 100%;
    background-color: #cb41be;
    background-image: linear-gradient(to right, rgba(88, 73, 174, 0.8), #cb41be 65%);
}
#atogo{
    width: 1050px;
    margin: 0 auto;
    text-align: center;
    color: white;
}
#atogo h1{
    padding-top: 70px;
    margin-bottom: 30px;
}
#atogo div{
    padding-bottom: 60px;
}
#atogo input{
    padding: 15px 15px;
    background-color: #fff;
    border: 2px solid #fff;
    width: 330px;
    border-radius: 7px;
    font-size: 16px;
}
#atogo button{
    padding: 18px; 
    margin-left: 5px;
    color: #fff;
    font-size: 16px;
    background-color: rgb(38, 99, 255);
    border-radius: 7px;
    cursor: pointer;
    border: none;
}
#atogo button:hover{
    background-color: rgba(2, 53, 180, 0.9);
}


#adota{
    width: 100%;
    background-color: rgb(31, 36, 83);
}
#taoda{
    width: 1050px;
    margin: 0 auto;
    display: flex;
    color: #fff;
    padding: 20px;
}
#taoda div{
    width: 210px;
    padding: 10px;
}
#taoda div.behind{
    transition: 0.1s;
}
#taoda div.behind:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255,0.3);
}
#taoda img{
    width: 100px;
    margin: 12px 0 20px 0;
    filter: brightness(10000);
}
#taoda h5{
    margin: 20px 0;
}
#taoda p{
    font-size: 12px;
}
#taoda a{
    color: white;
    font-size: 16px;
    text-decoration: none;
}
#taoda a:hover{
    text-decoration: underline;
}
hr{
    width: 95%;
    margin: 0 auto;
}


#cright{
    width: 1050px;
    margin: 0px auto;
    margin-top: 20px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
}
#notice{
    display: flex;
    color: white;
    font-size: 12px;
    align-items: center;
}
#notice a{
    margin-right: 30px;
    text-decoration: none;
    color: white;   
}
#notice a:hover{
    text-decoration: underline;
}
#download img{
    filter: brightness(100);
    padding: 4px;
    border-radius: 15px;
    border: 2px solid white;
    margin-left: 30px;
    transform: scale(0.75);
    transition: 0.3s;
}
#download img.linkedin{
    padding: 0x;
    width: 30px;
}
#download img:hover{
    transform: scale(0.5);
    cursor: pointer;
}


@media screen and (max-width: 920px) {
    #navigator li a{
        display: none;
    }
    #navigator .free .out{
        display: none;
    }
    #navigator img{
        margin: 0;
        margin-left: 10px;
    }
    .free .log{
        margin: 0;
    }
    .free a{
        font-size: 15px;
        padding: 21px 19px;
    }
  

    #first{
        padding-top: 130px;
    }
    #tsri{
        width: 390px;
        display: block;
    }
    .keep{
        width: 390px;
        text-align: center;
        margin-top: 0;
    }
    .keep h1{
        font-size: 30px;
    }
    .keep h3{
        font-size: 16px;
    }
    #vid{
        margin-bottom: 20px;
    }
    #vid input{
        display: none;
    }
    #vid button{
        font-size: 15px;
        padding: 14px 130px;
    }
    .collage{
        margin-top: 40px;
    }
    .collage img{
        width: 390px;
    }


    #second{
        width: 390px;
    }
    #second p{
        width: 400px;
        line-height: 30px;
    }

    #dirh{
        width: 390px;
        flex-direction: column-reverse;
    }
    #dirh img{
        width: 390px;
    }
    .board{
        width: 390px;
    }

    #htro{
        width: 390px;
        margin-bottom: 40px;
    }
    #htro h1{
        font-size: 25px;
    }
    #project{
        width: 390px;
        display: block;
    }
    #project div{
        width: 350px;
        margin-bottom: 30px;
    }
    #explore{
        width: 390px;
        display: block;
        margin-bottom: 80px;
    }
    #explore p{
        width: 390px;
        margin-bottom: 50px;
    }


    #fifth{
        height: 1200px;
    }
    #htfif{
        width: 390px;
    }
    #htfif h2{
        font-size: 25px;
    }
    #htfif p{
        margin-bottom: 30px;
    }
    #sprint{
        width: 390px;
        display: block;
    }
    #sprint .track{
        width: 390px;
        padding: 20px;
    }
    #sprint .track p{
        width: 350px;
    }
    #sprint img{
        padding: 20px;
        width: 390px;
    }
    #vision{
        width: 390px;
        display: block;
        margin-top: 30px;
    }
    #vision .view{
        width: 390px;
        padding: 20px;
    }
    #vision .view p{
        width: 350px;
    }
    #vision img{
        padding: 20px;
        width: 390px;
    }


    #sixth{
        width: 390px;
        margin-top: 150px;
    }
    #sixth h1{
        font-size: 25px;
    }
    #sixth p{
        width: 390px;
    }


    #seventh{
        width: 390px;
        display: block;
    }
    #seventh div{
        width: 390px;
        margin: 0;
        margin-bottom: 30px;
        padding-bottom: 30px;
    }
    #seventh .scale{
        margin-bottom: 50px;
    }


    #nineth{
        width: 390px;
        display: block;
    }
    .chunk{
        width: 390px;
        border-top-left-radius: 14px;
        border-top-right-radius: 14px;
        border-bottom-left-radius: 0px;
    }
    .chunk .oll{
        margin-bottom: 30px;
    }
    .chunk .joey{
        margin-bottom: 20px;
    }
    .chunk a{
        margin: 0;
    }
    .survey{
        width: 390px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 14px;
        border-bottom-left-radius: 14px;
    }
    .survey h1{
        font-size: 25px;
        margin-bottom: 20px;
    }


    #tenth{
        width: 390px;
        margin-bottom: 50px;
    }


    #eleven{
        width: 390px;
        display: block;
    }
    #eleven div{
        width: 390px;
        margin-bottom: 20px;
    }
    #eleven .fee{
        margin-bottom: 20px;
    }
    #eleven .pan .fee{
        margin-bottom: 20px;
    }
    #eleven .standard{
        margin-bottom: 50px;
    }
    #eleven .pan .standard{
        margin-bottom: 100px;
    }
    #twelve .standard{
        margin-bottom: 100px;
    }
    #enterprise .standard{
        margin-bottom: 75px;
    }


    #ogbon{
        width: 390px;
        margin-bottom: 50px;
    }
    #ogbon p{
        line-height: 30px;
        margin-bottom: 20px;
    }
    #ogbon img{
        width: 410px;
    }


    #atogo{
        width: 390px;
    }
    #atogo input{
        display: none;
    }
    #atogo button{
        font-size: 15px;
        padding: 14px 130px;
    }
    #atogo h1{
        padding-top: 40px;
    }


    #taoda{
        width: 390px;
        display: block;
        padding: 0px;
    }
    #taoda div{
        width: 390px;
        border: none;
        border-bottom: 1px solid #fff;
    }
    #taoda .sindun{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    hr{
        display: none;
    }

    #cright{
        width: 390px;
        display: block;
    }
    #notice{
        display: block;
        padding: 10px;
    }
    #notice a{
        display: block;
        margin: 0;
        margin-bottom: 20px;
    }
    #download{
        margin: 40px 0;
        margin-top: 60px;
    }
    #download img{
        margin: 0;
        margin-right: 20px;
    }

}